    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Have you ever heard the story of the magic Unicorn Rex? Or do you want to know more about the amazing Little Shadow, a friendly monster who can create any kind of figures?.</p>
                <p>Join the land of Dreams where fantastic stories, characters and of course games and fun are waiting for you!</p>
                <p>Little Dreams is perfect for preschoolers!</p>
            </div>
        </div>
    </section>