    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>COMING SOON ON THE APPSTORE</h2>
                    <p>Compatible for iPad and iPhone devices</p>
                    <a href="#"><img src="img/appstore.png" style="max-width: 90%;"/></a>
                </div>
            </div>
        </div>
    </section>